################################## functions ##################################

function project {
    if [ "$1" = "" ]; then
        cd ~/Workspace/
        ls -al
    else
        source ~/Workspace/$1/bin/activate
        cd ~/Workspace/$1/project/
        ls -al
    fi
}
alias project=project

function makeenv {
	virtualenv . --distribute --no-site-packages
	source bin/activate
	mkdir project
	ls -al
}
alias makeenv=makeenv

################################### aliases ###################################

# tools
alias py="python"
alias redis="redis-commander"
alias clearenv="find . -name '*.pyc' -delete"

# system
alias ll="ls -al"
alias cc="clear"
alias killavahi="/etc/init.d/avahi-daemon stop"

# MacOS
alias safari="open -a Safari $1"
