################################## functions ##################################

function project {
	if [ "$1" = "" ]; then
		cd ~/Workspace/
		ls -al
	else
		if [ "$2" = "-a" ]; then
			source ~/Workspace/$1/bin/activate
		fi
		cd ~/Workspace/$1/project/
		ls -al
	fi
}

function makeenv {
	virtualenv . --distribute --no-site-packages
	source bin/activate
	mkdir project
	ls -al
}

################################### aliases ###################################

alias ll="ls -al"
alias cc="clear"
alias project=project
alias makeenv=makeenv
alias clearenv="find . -name '*.pyc' -delete"
alias killavahi="/etc/init.d/avahi-daemon stop"
