################################## functions ##################################

function project {
    if [ "$1" = "" ]; then
        cd ~/Workspace/
        ls -al
    else
        source ~/Workspace/$1/bin/activate
        cd ~/Workspace/$1/
        ls -al
    fi
}

function makeenv {
	virtualenv . --distribute --no-site-packages
	source bin/activate
	pip install ipdb
	mkdir project
	ls -al
}

function makeenv3 {
        virtualenv . --distribute --no-site-packages --python=/usr/local/bin/python3
        source bin/activate
        mkdir project
        ls -al
}
################################### aliases ###################################

# tools
alias py="ipython"
alias clearpyc="find . -name '*.pyc' -delete"

# system
alias ll="ls -alh"
alias cc="clear"

# MacOS
alias safari="open -a Safari $1"

# Sublime Text
alias sublime_dir="~/Library/Application\ Support/Sublime\ Text\ 3/Packages"

# Python
alias pypi_register="py setup.py register -r pypi"
alias pypi_upload="py setup.py sdist upload -r pypi"


# Docker
alias docker_rm="docker rm -fv $(docker ps -aq)"
